# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
blinky/Listings/
blinky/Objects/
project1_register_access/Objects/startup_stm32f303xc.d
project1_register_access/Listings/register_access.map
project1_register_access/Listings/startup_stm32f303xc.lst
project1_register_access/Objects/ExtDll.iex
project1_register_access/Objects/main.crf
project1_register_access/Objects/main.d
project1_register_access/Objects/register_access.axf
project1_register_access/Objects/register_access.build_log.htm
project1_register_access/Objects/register_access.htm
project1_register_access/Objects/register_access.lnp
project1_register_access/Objects/register_access.sct
project1_register_access/Objects/register_access_STM32F303VC.dep
